<div class="p-[13px] bg-white shadow flex items-center justify-between">
  <div
    class="w-[36px] h-[36px] bg-zinc-300 rounded-full border border-purple-600"
  >
    <img
      src="assets/images/profil-pic.jpeg"
      alt="profil-pic"
      class="w-full h-full object-cover rounded-full"
    />
  </div>
  <div
    class="text-right text-black text-base font-bold font-['Inter'] tracking-wide"
  >
    Welcome, Abdelali
  </div>
  <!-- Bell Icon -->
  <div class="w-8 h-8 flex items-center justify-center">
    <ion-icon name="notifications" color="primary" size="medium"></ion-icon>
  </div>
</div>
