<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="#"
        class="text-neutral-900"
      ></ion-back-button>
    </ion-buttons>
    <ion-title
      class="text-neutral-900 text-base font-bold font-['Inter'] tracking-wide"
    >
      Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Rectangle with chart -->
  <div class="bg-white rounded-3xl border-2 border-gray-100 px-[18px] py-5">
    <div class="flex justify-between gap-2 mb-4">
      <div
        class="w-[72px] h-[60px] rounded-[14px] bg-emerald-600 border border-emerald-600"
      >
        <div class="h-full flex flex-col items-center justify-center">
          <div class="text-white text-xs font-normal font-['Inter']">
            Savings
          </div>
          <div class="flex">
            <div class="text-white text-xs font-bold font-['Inter']">$</div>
            <div class="text-white text-2xl font-bold font-['Inter']">547</div>
          </div>
        </div>
      </div>

      <div class="">
        <div
          class="bg-white rounded-[10px] border border-gray-200 flex items-center justify-between gap-3 px-[10px] py-1"
        >
          <div class="text-black text-xs font-medium font-['Inter']">
            8/15 - 8/21
          </div>
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex flex-col flex-auto h-[128px]">
        <apx-chart
          class="w-full h-full"
          [chart]="chartOptions.chart"
          [colors]="chartOptions.colors"
          [dataLabels]="chartOptions.dataLabels"
          [fill]="chartOptions.fill"
          [grid]="chartOptions.grid"
          [series]="chartOptions.series[chartValue]"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
        ></apx-chart>
      </div>
    </div>
  </div>

  <div class="my-[34px]">
    <div class="flex items-center justify-between">
      <!-- Today -->
      <div
        class="text-right text-neutral-900 text-base font-bold font-['Inter'] tracking-wide"
      >
        Today
      </div>
    </div>

    <!-- Expense Cards -->
    <div class="mt-4 flex flex-col gap-4">
      <app-transaction-card
        icon="restaurant"
        categoryColor="rose"
      ></app-transaction-card>
    </div>
  </div>
  <div class="">
    <div class="flex items-center justify-between">
      <!-- Yesterday -->
      <div
        class="text-right text-neutral-900 text-base font-bold font-['Inter'] tracking-wide"
      >
        Yesterday
      </div>
    </div>

    <!-- Expense Cards -->
    <div class="mt-4 flex flex-col gap-4">
      <app-transaction-card
        icon="restaurant"
        categoryColor="rose"
      ></app-transaction-card>
    </div>
  </div>
</ion-content>
