<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-margin-bottom">
  <!-- available balance -->
  <div class="mt-6">
    <app-balance></app-balance>
  </div>

  <div class="mt-12 flex items-center justify-between gap-5">
    <!-- Income -->
    <div
      class="flex flex-col px-[18px] py-[14px] w-48 h-40 bg-emerald-50 rounded-3xl"
    >
      <div
        class="w-[52px] h-[53px] flex items-center justify-center bg-emerald-600 rounded-2xl"
      >
        <ion-icon
          name="arrow-down-circle"
          size="large"
          class="text-white"
        ></ion-icon>
      </div>
      <div class="mt-6">
        <div
          class="text-neutral-950 text-base font-normal font-['Inter'] tracking-wide"
        >
          Income
        </div>
        <div
          class="text-zinc-800 text-2xl font-bold font-['Inter'] tracking-wide"
        >
          $5000
        </div>
      </div>
    </div>
    <!-- Expense -->
    <div
      class="flex flex-col px-[18px] py-[14px] w-48 h-40 bg-rose-50 rounded-3xl"
    >
      <div
        class="w-[52px] h-[53px] flex items-center justify-center bg-red-400 rounded-2xl"
      >
        <ion-icon
          name="arrow-up-circle"
          size="large"
          class="text-white"
        ></ion-icon>
      </div>
      <div class="mt-6">
        <div
          class="text-neutral-950 text-base font-normal font-['Inter'] tracking-wide"
        >
          Expenses
        </div>
        <div
          class="text-zinc-800 text-2xl font-bold font-['Inter'] tracking-wide"
        >
          $1200
        </div>
      </div>
    </div>
  </div>

  <div class="mt-[70px]">
    <div class="flex items-center justify-between">
      <!-- Recent Transaction -->
      <div
        class="text-right text-neutral-900 text-xl font-bold font-['Inter'] tracking-wide"
      >
        Recent Transaction
      </div>

      <!-- See All -->
      <div
        class="w-24 h-10 flex items-center justify-center bg-indigo-100 rounded-2xl"
      >
        <div
          class="text-right text-indigo-600 text-base font-normal font-['Inter'] tracking-wide"
        >
          See All
        </div>
      </div>
    </div>

    <!-- Expense Cards -->
    <div class="mt-[14px] flex flex-col gap-6">
      <div class="p-4 bg-neutral-50 rounded-3xl">
        <div class="flex items-center justify-between gap-[10px]">
          <div
            class="w-[72px] h-[72px] flex items-center justify-center bg-orange-100 rounded-3xl"
          >
            <ion-icon
              name="cart"
              size="large"
              class="text-orange-500"
            ></ion-icon>
          </div>
          <div class="flex flex-col flex-1">
            <div
              class="text-neutral-950 text-lg font-medium font-['Inter'] tracking-wide"
            >
              Shopping
            </div>
            <div
              class="text-gray-500 text-base font-medium font-['Inter'] tracking-tight"
            >
              Some grocery
            </div>
          </div>

          <div class="flex flex-col">
            <div
              class="text-right text-red-500 text-lg font-bold font-['Inter']"
            >
              - $320
            </div>
            <div
              class="text-right text-gray-500 text-base font-medium font-['Inter'] tracking-tight"
            >
              10:00 AM
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 bg-neutral-50 rounded-3xl">
        <div class="flex items-center justify-between gap-[10px]">
          <div
            class="w-[72px] h-[72px] flex items-center justify-center bg-indigo-100 rounded-3xl"
          >
            <ion-icon
              name="videocam"
              size="large"
              class="text-indigo-500"
            ></ion-icon>
          </div>
          <div class="flex flex-col flex-1">
            <div
              class="text-neutral-950 text-lg font-medium font-['Inter'] tracking-wide"
            >
              Subscription
            </div>
            <div
              class="text-gray-500 text-base font-medium font-['Inter'] tracking-tight"
            >
              Netflix
            </div>
          </div>

          <div class="flex flex-col">
            <div
              class="text-right text-red-500 text-lg font-bold font-['Inter']"
            >
              - $10
            </div>
            <div
              class="text-right text-gray-500 text-base font-medium font-['Inter'] tracking-tight"
            >
              03:30 PM
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
