<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-margin-bottom">
  <!-- available balance -->
  <div class="mt-2">
    <app-balance></app-balance>
  </div>

  <div class="mt-[43px] flex items-center justify-between gap-5">
    <!-- Income -->
    <div
      class="flex flex-col gap-[22px] px-4 py-[14px] w-[176px] bg-emerald-50 rounded-3xl"
    >
      <div
        class="h-[48px] w-[48px] flex items-center justify-center bg-emerald-600 rounded-2xl"
      >
        <ion-icon
          name="arrow-down-circle"
          size="large"
          class="text-white"
        ></ion-icon>
      </div>
      <div>
        <div
          class="mb-2 text-neutral-950 text-sm font-normal font-['Inter'] tracking-wide"
        >
          Income
        </div>
        <div
          class="text-zinc-800 text-xl font-bold font-['Inter'] tracking-wide"
        >
          $5000
        </div>
      </div>
    </div>
    <!-- Expense -->
    <div
      class="flex flex-col gap-[22px] px-4 py-[14px] w-[176px] bg-rose-50 rounded-3xl"
    >
      <div
        class="h-[48px] w-[48px] flex items-center justify-center bg-red-400 rounded-2xl"
      >
        <ion-icon
          name="arrow-up-circle"
          size="large"
          class="text-white"
        ></ion-icon>
      </div>
      <div>
        <div
          class="mb-2 text-neutral-950 text-sm font-normal font-['Inter'] tracking-wide"
        >
          Expenses
        </div>
        <div
          class="text-zinc-800 text-xl font-bold font-['Inter'] tracking-wide"
        >
          $1200
        </div>
      </div>
    </div>
  </div>

  <div class="mt-[56px]">
    <div class="flex items-center justify-between">
      <!-- Recent Transaction -->
      <div
        class="text-right text-neutral-900 text-lg font-bold font-['Inter'] tracking-wide"
      >
        Recent Transaction
      </div>

      <!-- See All -->
      <div
        class="w-24 h-9 flex items-center justify-center bg-indigo-100 rounded-2xl"
      >
        <div
          class="text-right text-indigo-600 text-sm font-normal font-['Inter'] tracking-wide"
        >
          See All
        </div>
      </div>
    </div>

    <!-- Expense Cards -->
    <div class="mt-[14px] flex flex-col gap-[18px]">
      <app-transaction-card
        category="shopping"
        recordNote="Some grocery"
        icon="cart"
        [price]="320"
        [time]="currentDate"
        categoryColor="orange"
      ></app-transaction-card>
      <app-transaction-card
        category="Subscription"
        recordNote="Netflix"
        icon="videocam"
        [price]="-10"
        [time]="currentDate"
        categoryColor="indigo"
      ></app-transaction-card>
      <app-transaction-card
        category="Subscription"
        recordNote="Netflix"
        icon="videocam"
        [price]="-10"
        [time]="currentDate"
        categoryColor="indigo"
      ></app-transaction-card>
      <app-transaction-card
        category="Subscription"
        recordNote="Netflix"
        icon="videocam"
        [price]="-10"
        [time]="currentDate"
        categoryColor="indigo"
      ></app-transaction-card>
    </div>
  </div>
</ion-content>
