<ion-header [translucent]="true">
  <ion-toolbar>
    <div
      class="h-[5.4rem] bg-slate-200 rounded-3xl py-[10px] px-[13px] mx-[18px] mt-[43px]"
    >
      <div class="h-full flex items-center justify-between gap-[18px]">
        <ion-icon name="menu-outline" size="large"></ion-icon>
        <div
          class="text-zinc-700 text-[1.8rem] text-start flex-1 font-normal font-['Inter']"
        >
          Search in mail
        </div>
        <div class="w-[34px] h-[34px] bg-neutral-400 rounded-full">
          <img
            src="assets/images/profil-pic.jpeg"
            alt="profil-pic"
            class="w-full h-full object-cover rounded-full"
          />
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> </ion-content>
