<div
  (click)="vibrate()"
  class="relative ion-activatable overflow-hidden h-full min-h-[40px] rounded border flex items-center justify-center"
  [ngClass]="{
    'bg-[#001A4D] border-[#001A4D]': !isNum(value),
    'bg-white border-gray-100': isNum(value)
  }"
>
  <ion-ripple-effect></ion-ripple-effect>
  <span
    class="text-white text-xl font-bold font-['Inter']"
    [ngClass]="{
      'text-white text-xl': !isNum(value),
      'text-sky-950 text-2xl': isNum(value)
    }"
    >{{ value }}</span
  >
</div>
