<ion-header class="shadow-none">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span class="text-white text-lg font-semibold font-['Inter']"
        >Accounts</span
      >
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="createAccount()">
      <ion-icon name="add" class="text-white" size="medium"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="relative bg-white">
    <div
      *ngFor="let account of accounts"
      (click)="selectAccount(account)"
      class="relative ion-activatable overflow-hidden bg-white border-b border-neutral-300 flex items-center gap-[14px] py-[18px] px-4"
    >
      <ion-ripple-effect></ion-ripple-effect>
      <div class="w-10 h-10 rounded" [ngClass]="account.backgroundColor"></div>
      <div class="flex flex-col">
        <div class="text-sky-950 text-[15px] font-semibold font-['Inter']">
          {{ account.label }}
        </div>
        <div class="text-neutral-400 text-[13px] font-semibold font-['Inter']">
          {{ account.type }}
        </div>
      </div>
    </div>
  </div>
</ion-content>
