<ion-content>
  <div class="flex flex-col gap-2 h-full pb-2" [formGroup]="recordForm">
    <div>
      <div class="bg-[#001A4D]">
        <!-- save or cancel record -->
        <div class="flex items-center justify-between px-[26px] py-[13.5px]">
          <button
            (click)="closeModal()"
            class="flex items-center justify-between gap-[2px]"
          >
            <div class="flex-col justify-start items-start inline-flex">
              <ion-icon
                name="close-outline"
                size="medium"
                class="w-6 h-6 text-white"
              ></ion-icon>
            </div>
            <div
              class="text-white text-sm leading-4 font-medium font-['Inter']"
            >
              CANCEL
            </div>
          </button>
          <button
            (click)="saveRecord()"
            class="flex items-center justify-between gap-[2px]"
          >
            <div class="w-6 h-6 flex-col justify-start items-start inline-flex">
              <ion-icon
                name="checkmark-outline"
                size="medium"
                class="w-6 h-6 text-white"
              ></ion-icon>
            </div>
            <span
              class="text-white text-sm leading-4 font-medium font-['Inter']"
            >
              SAVE
            </span>
          </button>
        </div>

        <!-- record type -->
        <div class="flex items-center">
          <div
            (click)="changeRecordType('INCOME')"
            [ngClass]="{ 'active-record-type': recordType === 'INCOME' }"
            class="flex-1 px-4 py-[17.5px] flex items-center justify-center"
          >
            <span
              class="block text-white text-sm leading-4 font-medium font-['Inter']"
              >INCOME</span
            >
          </div>
          <div
            (click)="changeRecordType('EXPENSE')"
            [ngClass]="{ 'active-record-type': recordType === 'EXPENSE' }"
            class="flex-1 px-4 py-[17.5px] flex items-center justify-center"
          >
            <span
              class="block text-white text-sm leading-4 font-medium font-['Inter']"
              >EXPENSE</span
            >
          </div>
          <div
            (click)="changeRecordType('TRANSFER')"
            [ngClass]="{ 'active-record-type': recordType === 'TRANSFER' }"
            class="flex-1 px-4 py-[17.5px] flex items-center justify-center"
          >
            <span
              class="block text-white text-sm leading-4 font-medium font-['Inter']"
              >TRANSFER</span
            >
          </div>
        </div>
      </div>

      <!-- date time -->
      <div
        class="bg-[#4D5F82] shadow-[0px_2px_4px_0px_rgba(0,_0,_0,_0.25)] flex items-center justify-between pt-[3px] pb-[2px]"
      >
        <div
          (click)="openPicker('date')"
          class="flex-1 text-white text-base text-center font-medium font-['Inter']"
        >
          {{ recordDate | date : "mediumDate" }}
        </div>
        <div class="h-7 w-px border border-white"></div>
        <div
          (click)="openPicker('time')"
          class="flex-1 text-white text-base text-center font-medium font-['Inter']"
        >
          {{ recordDate | date : "shortTime" }}
        </div>
      </div>
    </div>

    <div class="px-2">
      <!-- selects -->
      <div class="grid grid-cols-2 grid-rows-2 gap-x-2 gap-y-[6px]">
        <!-- Account -->
        <app-select
          label="Account"
          [selectedValue]="selectedAccount.name"
          (openModal)="openAccountsModal()"
        >
          <div
            class="w-8 h-8 rounded-md border select-icon"
            [ngClass]="selectedAccount.backgroundColor"
          ></div>
        </app-select>

        <!-- Category -->
        <app-select
          label="Category"
          selectedValue="Clothing"
          (openModal)="openCategoryModal()"
        >
          <div
            class="w-8 h-8 rounded-full select-icon"
            [ngClass]="selectedCategory?.backgroundColor"
          ></div>
        </app-select>

        <!-- Payment Type -->
        <app-select
          label="Payment Type"
          [selectedValue]="paymentType?.label"
          (openModal)="openPaymentTypeModal()"
        >
        </app-select>

        <!-- Attachements -->
        <app-select
          label="Attachements"
          selectedValue="2 files"
          (openModal)="openAttachementModal()"
        >
          <ion-icon name="attach-outline" size="medium"></ion-icon>
        </app-select>
      </div>

      <!-- note -->
      <div
        class="h-[90px] mt-[10px] bg-white rounded-lg border border-gray-100"
      >
        <ion-textarea
          placeholder="Note"
          formControlName="note"
          class="w-full h-full rounded-lg p-[10px] text-indigo-950 text-base font-medium font-['Inter'] outline-none"
        >
        </ion-textarea>
      </div>
    </div>

    <!-- calculator -->
    <div class="px-2 flex-1">
      <app-calculator formControlName="price"></app-calculator>
    </div>
  </div>
</ion-content>
