<ion-header class="shadow-none">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span class="text-white text-lg font-semibold font-['Inter']">{{
        pageTitle
      }}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-bottom">
  <!-- MOST FREQUENT -->
  <div class="bg-zinc-100 border-b border-neutral-300 flex items-center">
    <div
      class="flex-1 px-[9px] py-3 text-neutral-500 text-sm font-semibold font-['Inter'] uppercase"
    >
      {{ primaryTitle }}
    </div>
  </div>
  <div
    *ngIf="isSubcategory"
    (click)="showSubCategories(parent)"
    class="bg-white border-b border-neutral-300 flex items-center gap-4 px-4 py-[13px]"
  >
    <div class="w-10 h-10 bg-zinc-300 rounded-full"></div>
    <div class="text-black text-base font-semibold font-['Inter']">
      {{ parent?.name }}
    </div>
  </div>
  <div *ngIf="!isSubcategory" class="w-[360px] h-[147px] bg-white px-5 py-4">
    <div class="w-80 h-[66px] justify-start items-start gap-6 inline-flex">
      <div class="flex flex-col items-center">
        <div class="w-10 h-10 bg-zinc-300 rounded-full"></div>
        <div class="text-black text-[13px] font-semibold font-['Inter']">
          Groceries
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-10 h-10 bg-zinc-300 rounded-full"></div>
        <div class="text-black text-[13px] font-semibold font-['Inter']">
          Groceries
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-10 h-10 bg-zinc-300 rounded-full"></div>
        <div class="text-black text-[13px] font-semibold font-['Inter']">
          Groceries
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-10 h-10 bg-zinc-300 rounded-full"></div>
        <div class="text-black text-[13px] font-semibold font-['Inter']">
          Groceries
        </div>
      </div>
    </div>
    <div class="w-[25px] h-[11px] flex items-center gap-2 mt-9 mx-auto">
      <div class="w-[11px] h-[11px] bg-blue-600 rounded-full"></div>
      <div class="w-1.5 h-1.5 bg-zinc-300 rounded-full"></div>
    </div>
  </div>
  <!-- ALL CATEGORIES -->
  <div
    class="flex items-center bg-zinc-100 border-t border-b border-neutral-300"
  >
    <div
      class="flex-1 px-[9px] py-3 text-neutral-500 text-sm font-semibold font-['Inter'] uppercase"
    >
      {{ secondaryTitle }}
    </div>
  </div>
  <div class="w-[360px] h-[462px]">
    <ng-container *ngFor="let category of categories">
      <div
        (click)="showSubCategories(category)"
        class="bg-white border-b border-neutral-300 flex items-center gap-4 px-4 py-[13px]"
      >
        <div class="w-10 h-10 bg-zinc-300 rounded-full"></div>
        <div class="text-black text-base font-semibold font-['Inter']">
          {{ category?.name }}
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>
